@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

:root {
    --primary-bg: #052245;
    --primary-gradient-start: #5AFF7D;
    --primary-gradient-end: #11998E;
    --secondary-gradient-start: #38EF7D;
    --secondary-gradient-end: #0D3D31;
    --shadow-color: #0003;
    --block-width: 280px;
    --block-margin: 20px auto;
    --inner-block-margin: 15px;
    --border-radius: 50%;
}

body {
    line-height: 1;
    background-color: var(--primary-bg);
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Roboto', sans-serif;
    vertical-align: baseline;
    color: white;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 0 15px;
    background-color: inherit;
    color: inherit;
}
